.task:after {
  bottom: 25px;
  display: block;
  position: absolute;
  left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
  width: 0; /*задаём длинну линии до наведения курсора*/
  height: 1px; /*задаём ширину линии*/
  background-color: #848484; /*задаём цвет линии*/
  content: "";
  transition: width 0.4s ease-out; /*задаём время анимации*/
}

.button {
  width: 100%;
}

.list {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
  height: 90px;
  border-bottom: 2px solid #b2c375;
  width: 90%;
  margin: 0 auto;
}

.task {
  cursor: pointer;
  text-align: left;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 25px;
  color: #707070;
  padding: 10px;
  margin: 0 0 5px 15px;
  font-family: "Montserrat Regular", sans-serif;
  transition:all 0.5s ease-in-out, font-weight 0.1s ease-in-out;
}

.task:hover, .task:focus {
  font-weight: bold;
}

.icon {
  cursor: pointer;
  padding: 20px 20px 15px 10px;
  font-size: 20px;
  color: #848484;
}

.icon:hover ~ .task:after,
.icon:focus ~ .task:after {
  width: 45%;
}

.information {
  margin: 20px auto 0;
  padding: 20px;
  font-size: 18px;
  background-color: #b2c375;
  text-align: left;
  transition: all 0.3s ease-in-out;
  opacity: 1;
  height: auto;
  width: 90%;
  color: white;
}

.information p {
  word-break: break-all;
}

.hidden {
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  transition: all 0.1s ease-in-out;
  opacity: 0;
  height: 0;
  width: 90%;
}

.date {
  font-size: 20px;
  font-family: "Montserrat Medium", sans-serif;
  transition: all 0.3s ease-in-out;
  background-color: #b2c375;
  height: auto;
  color: #f0e6ef;
  width: auto;
  padding: 10px;
  margin: 0 auto 15px;
  border-radius: 15px;
}

.time {
  font-size: 20px;
  font-family: "Montserrat Medium", sans-serif;
  background-color: #f0e6ef;
  height: auto;
  color: #b2c375;
  width: 80px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

@media (max-width: 610px) {
  .icon:hover ~ .task:after {
    width: 0;
  }

  .task:after {
    bottom: 22px;
  }

  .icon {
    font-size: 18px;
  }

  .list {
    height: 70px;
  }

  .task {
    height: 40px;

    margin: 0 0 5px 0;
    font-size: 18px;
  }

  .date {
    font-size: 18px;
    margin: 0 auto 10px;
  }
}
@media (max-width: 350px) {
  .date {
    font-size: 16px;
    padding: 10px 5px;
  }
}