.itemCreator {
  margin: 15px auto 0;
  position: absolute;
  background-color: #848484;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  width: 90%;
  color: #F0E6EF;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  top: 0;
  left: 5%;
  transition: all 0.5s ease-in-out;
  visibility: visible;
}

.inputText {
  margin: 10px 0 0;
  padding: 10px 10px;
  background-color: #ffffff;
  width: 95%;
  font-size: 20px;
  border: 3px solid #b2c375;
  height: 45px;
  color: #b2c375;
  overflow-y: hidden;
  resize: none;
  font-family:"Montserrat Regular",sans-serif;
  transition: height 0.3s ease-in-out;
}

.inputText:focus {
  overflow-y: auto;
  height: 150px;
}

.inputDate {
  width: 95%;
  color: #848484;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputDate input{
  border:3px solid #b2c375 ;
  background-color: #ffffff;
}
.inputDate label {
  color: #F0E6EF;
}

.hideItemCreator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  background-color: #848484;
  transition: all 0.5s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  padding: 0;
  width: 90%;
  left: 5%;
  top: 80%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.taskButton {
  color: #F0E6EF;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50px;
  border-radius: 50px;
  border: 3px solid #b2c375;
  background: #b2c375;
  transition: all 0.2s ease-in-out , background 0.2s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.taskButton:active {
  color: #848484;
  font-weight: bold;
  background-color: #F0E6EF;
}
.button {
  color: #F0E6EF;
  font-size: 60px;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 50px;
  bottom: 20px;
  right: 50px;
  border-radius: 50px;
  border: 3px solid #848484;
  background: #848484;
  z-index: 5;
  transition: all 0.2s ease-in-out 2s, background-color 0.2s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.button:active {
  color: #848484;
  font-weight: bold;
  background-color: #F0E6EF;
}

.hideButton {
  opacity: 0;
  width: 0;
  height: 0;
}

@media (max-width: 610px) {
  .inputText  {
    font-size: 20px;
    padding: 5px 10px;
  }
}
@media (max-width: 350px) {
  .itemCreator{
    height: 70%;
  }
  .inputDate{
    font-size: 17px;
  }
}