.itemCreator {
  margin: 15px auto 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  width: 90%;
  padding: 10px;
  text-align: left;
  font-size: 20px;
  top: 0;
  left: 5%;
  visibility: visible;
  transition: all 0.3s linear 0.2s, height 0.2s linear;
}

.itemCreator_light{
  composes: itemCreator;
  background-color: #b2c375;
  color: #F0E6EF;
}
.itemCreator_dark {
  composes: itemCreator;
  background-color: #f57676;
  color: white;
}
.inputText {
  margin: 10px 0 0;
  padding: 10px 10px;
  background-color: #ffffff;
  width: 95%;
  font-size: 20px;
  border: 3px solid #848484;
  height: 45px;
  overflow-y: hidden;
  resize: none;
  font-family:"Montserrat Regular",sans-serif;
  transition: height 0.3s ease-in-out;
}

.inputText:focus {
  overflow-y: auto;
  height: 150px;
}

.inputDate {
  width: 95%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputDate input{
  border:3px solid #848484 ;
  background-color: #ffffff;
}

.hideItemCreator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: absolute;
  transition: all 0.5s ease-in-out, opacity 0.1s ease-in-out 0.1s;
  padding: 0;
  width: 90%;
  left: 5%;
  top: 80%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.taskButton {
  composes: button from '../../App.module.css';
  font-size: 20px;
  position: unset;
  align-self: center;
  width: 50%;
  height: 50px;
  border: 3px solid #848484;
  background: #848484;
  transition: all 0.2s ease-in-out , background 0.2s ease-in-out, color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
}

.taskButton:active,.taskButton:focus {
  color: #848484;
  font-weight: bold;
  background-color: #F0E6EF;
}


@media (max-width: 610px) {
  .inputText  {
    font-size: 20px;
    padding: 5px 10px;
  }
  .itemCreator{
    height: 60%;
  }
  .inputDate{
    margin:15px 0;
  }
  .button{
    width: 65px;
    height: 40px;
    bottom: 10px;
  }
}
@media (max-width: 350px) {
  .button{
    bottom: 6px;
  }
  .itemCreator{
    height: 70%;
  }
  .inputDate{
    font-size: 17px;
  }
}