.appWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appWrapper_light {
  composes: appWrapper;
  background: #91b9d6;
}

.appWrapper_dark {
  composes: appWrapper;
  background: #464646;
}

.appWrapperContent {
  height: 80%;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
  margin-bottom: 3%;
  font-size: 30px;
  color: #F0E6EF;
  letter-spacing: 4px;
  transition: width 1s ease-in-out,
  color 0.2s ease-in-out 1s;
}

.title_light {
  composes: title;
  box-shadow: 0 4px 6px #8282828c;
  background-color: #b2c375;
}

.title_dark {
  composes: title;
  background-color: #222;
}

.hideTitle {
  color: transparent;
  width: 0;
}

.list {
  position: relative;
  height: 75%;
  width: 100%;
  transition: height 1s ease-in-out 1.4s,
  color 0.2s ease-in-out 2.2s;
}

.list_light {
  composes: list;
  background-color: #F0E6EF;
  box-shadow: 0 4px 6px rgba(130, 130, 130, 0.62);
}

.list_dark {
  composes: list;
  background-color: #222;
}

.hideList {
  color: transparent;
  height: 0;
  border: 0;
}

.items {
  margin: 15px 10px 0 0;
  height: 95%;
  overflow-y: scroll;
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: #9a9794;
}

.noTask {
  transition: all 0.2s ease-in-out 2.5s;
  height: 93%;
  justify-content: center;
  display: flex;
  color: #707070;
  align-items: center;
  font-size: 44px;
  opacity: 1;
}

.hideNoTask {
  opacity: 0;
}

.button:focus {
  color: #848484;
  font-weight: bold;
  background-color: #F0E6EF;
}

.button {
  color: #F0E6EF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 50px;
  border-radius: 50px;
  z-index: 5;
  transition: opacity 0.2s ease-in-out 2s, width 0.2s ease-in-out 2s, height 0.2s ease-in-out 2s;
}

.button svg {
  font-size: 20px;
}

.button_light {
  composes: button;
  border: 3px solid #b2c375;
  background: #b2c375;
}

.button_dark {
  composes: button;
  border: 3px solid #f57676;
  background: #f57676;
}

.hideButton {
  opacity: 0;
  width: 0;
  height: 0;
}

.nav {
  position: relative;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100%;
  margin-top: 2px;
  transition: height 1s ease-in-out 1.4s, border 0s ease-in-out 1.4s;
}

.nav_light {
  composes: nav;
  background-color: #f0e6ef;
  box-shadow: 0 4px 6px rgba(130, 130, 130, 0.62);
}

.nav_dark {
  composes: nav;
  background-color: #222222;
}

@media (min-width: 2200px) {
  .appWrapperContent {
    height: 90%;
    width: 20%;
  }
}

@media (max-width: 1450px) {
  .appWrapperContent {
    width: 35%;
  }

  .button {
    font-size: 50px;
    width: 75px;
    height: 50px;
    bottom: 20px;
    right: 50px;
  }
}

@media (max-width: 1080px) {
  .appWrapperContent {
    height: 75%;
    width: 60%;
  }

  .button {
    bottom: 15px;
  }
}

@media (max-width: 610px) {
  .nav {
    height: 50px;
  }

  .items {
    margin: 15px 5px 0 0;
  }

  .appWrapperContent {
    justify-content: flex-start;
    height: 80%;
    width: 90%;
  }

  .name {
    font-size: 25px;
  }

  .button {
    width: 55px;
    height: 35px;
    bottom: 7px;
    right: 50px;
  }
}

@media (max-width: 350px) {
  .appWrapperContent {
    width: 95%;
    height: 80%;
  }

  .title {
    height: 12%;
  }
}